.App {
  background-color: #24305e;
  overflow: hidden;
}
.App-header {
  background-color: #272324;
  font-family: "Bungee Shade", cursive;
  margin: 0;
  min-height: 13vh;
  text-align: center;
  padding-top: 4vh;
  font-size: calc(30px + 2vmin);
  color: lightyellow;
}
.cassette-wrapper {
  min-height: 70vh;
  width: 90%;

  font-family: "Anton", sans-serif;
  margin: 5vh auto;
  color: white;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 30% 70%;
}
@media only screen and (min-width: 768px) {
  .cassette-wrapper {
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  .cassette-wrapper {
    width: 50%;
  }
}

.chapter {
  text-align: center;
  width: 30vh;
  min-height: 10vh;
  margin: auto;
  border-radius: 5px;
  padding-top: 3vh;
  font-size: calc(18px + 2vmin);
  text-decoration-line: underline;
  color: white;
  background-color: #201d1e;
}
.description {
  grid-column: 1 / span 2;
  padding: 0% 7%;
  border-radius: 5px;
  font-size: calc(10px + 2vmin);
  background-color: #fdec55;
  color: black;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30% 70%;
  filter: drop-shadow(5px 5px 5px black);
}
.title {
  font-size: calc(15px + 2vmin);
  font-family: "Anton", sans-serif;
  color: white;
  background-color: #201d1e;
  width: 35vh;
  height: 7vh;
  padding: 2vh 1vh 1vh 1vh;
  margin: auto auto;
  border-radius: 5px;
  text-align: center;
  grid-row: 1 / span 1;
}
.text {
  font-family: "Oxygen", sans-serif;
  grid-row: 2 / span 1;
}
.cassette {
  width: 20vh;
  height: 13vh;
  margin: auto;
}
.contact {
  margin: 20px auto 40px auto;
  width: 90%;
  height: 30vh;
  border-radius: 4px;
  background-color: #fdec55;
  filter: drop-shadow(5px 5px 5px black);
}
@media only screen and (min-width: 768px) {
  .contact {
    width: 70%;
  }
}
@media only screen and (min-width: 1024px) {
  .contact {
    width: 50%;
  }
}
form {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 35% 30% 30%;
}
.label {
  color: black;
  font-size: calc(12px + 2vmin);
  text-align: center;
  width: 70%;
  margin: auto;
  grid-row: 1 / span 1;
}
.email-input {
  width: 70%;
  height: 4vh;
  margin: auto;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  grid-row: 2 / span 1;
}
.subscribe {
  padding: 2px 2px;
  width: 20vh;
  height: 5vh;
  margin: 8px auto;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: black;
  text-align: center;
}
