.bar-wrapper{
    height:4vh;
    width: 100%;
}
.bar{
    height:33%;
    width: 100%;
}
.red{
    background-color: #f44336;
}
.yellow{
    background-color: #ffeb3b;
}
.teal{
    background-color: #009688;
}
